* {
    background-color: gray;
}

div {
    height: 40px;
    width: 400px;
    
}

button {
    height: 30px;
    width: 30px;
}

p {
    background-color: inherit;
    padding: 2px;
}

#game-container {
    style: flex;
    align-items: center;
}

.above-game-info-div {
    margin: 5px;
}

#above-game-info-container {
    display: flex;
}

#restart-game {
    background-color: yellow;
    width: 100px;
    height: 80px;
    border: solid black 2px;
}

#results {
    background-color: orange;
    width: 100px;
    height: 80px;
    border: solid black 2px;
}

#current-score-div {
    background-color: cyan;
    width: 100px;
    height: 80px;
    border: solid black 2px;
}

#placement-div {
    margin-top: 100px;
}